<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: {% for _ in range(grid_x) %} 20px {% endfor %};
            padding-bottom: 20px;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>
    <input id="start_marker" class="marker_buttons" type="submit" value="Start Marker">
    <input id="end_marker" class="marker_buttons" type="submit" value="End Marker">
    <input id="wall_marker" class="marker_buttons" type="submit" value="Wall Marker">

    <div class="grid-container">
        {% for id in range(grid_x*grid_y) %}
            <div class="grid-item" id="i{{ id }}"></div>
        {% endfor %}
    </div>

    <label for="gridX">gridX</label><br>
    <input type="number" id="gridX" name="gridX"><br>
    <label for="gridY">gridY:</label><br>
    <input type="number" id="gridY" name="gridY"><br><br>
    <input id="changeGridSubmit" type="submit" value="Change Grid Size"><br><br>

    <label for="algorithm">Algorithm</label><br>
    <select name="algorithm" id="algorithm">
      <option value="1">Breadth First Search</option>
      <option value="2">Greedy Breadth First Search</option>
      <option value="3">A* search</option>
      <option value="4">Dijkstra Algorithm</option>
    </select><br><br>

    <input id="start" type="submit" value="Start">

    <input id="reset" type="submit" value="Reset"><br>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
